@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .MuiStack-root{
    /* box-sizing: border-box; */
  /* width: 240px;
  height: 40px;
  width: 100%; */
/* //   left: 20px;
//   top: 136px; */
  /* background: #fdf7f2;
  border: 1px solid rgba(245, 146, 86, 0.5); */
  /* border-radius: 40px; */
  /* margin-bottom: 16px; */
  /* padding: 11px 20px 12px 14px; */
  /* outline: none; */
  /* :focus {
    border: 2px solid #f59256;
    outline: none; */
/* } */ 

.MuiInputBase-roo{
   width: 240px;
  height: 40px;
  width: 100%;
/* //   left: 20px;
//   top: 136px; */
  background: red;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  margin-bottom: 16px;
  padding: 11px 20px 12px 14px;
  outline: none;
  /* :focus {
    border: 2px solid #f59256;
    outline: none; */  
}
.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    /* width: 40px;
  height: 10px;
  width: 100%; */
/* //   left: 20px;
//   top: 136px; */
  background: none;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  margin-bottom: 16px;
  padding: 0px;
  outline: none;
  /* :focus {
    border: 2px solid #f59256;
    outline: none; */   
}
.MuiInputBase-root {   
    /* width: 40px;
  height: 10px;
  width: 100%; */
/* //   left: 20px;
//   top: 136px; */
  background:red;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  margin-bottom: 16px;
  padding: 0px;
  outline: none;
  /* :focus {
    border: 2px solid #f59256;
    outline: none; */ }

.MuiInputBase-colorPrimary{
   border-radius: 40px;
}
.MuiOutlinedInput-root{
  border-radius: 40px;
}
.MuiOutlinedInput-root{
background:red;  
  padding: 0;
  outline: 0;
   height: 40px;
   background: #fdf7f2;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
}


    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
      border-radius: 40px;
    } 
 .MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 40px;
 }
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{

    border: 0.1px solid rgba(245, 146, 86, 0.5); 
    outline: none;
}
  